body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    position: relative;
    left: 45px;
}

p {
    color: white;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.navbar {
    float: left;
    width: 30%;
    margin: 10px;
}

.content {
    display: inline-block;
    float: left;
    width: 50%;

}

#maincontent {
    text-align: right;
}

hr {
    width: 92%;
}

footer {
    color: white;
}

header {
    color: white;
}
